
.destaques{
    display: grid;/*define tudo que esta encapsulado como grid*/
    grid-gap: .2rem;/*coloca espaçamento entre as linhas e colunas*/
    grid-template-columns: 25% 25% 25% 25%;/*define tamanho de cada e quantas colunas vai ter*/
    grid-template-rows: 33.33% 33.33% 33.33%;/*define tamanho de cada e quantas linhas vai ter*/
    height: calc(100vh - 50px);/*Definindo tamanho de conteudo proporcional com o tamanho da  tela*/
}
.caixa{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.destaques__titulo{
    width: 100%;
    background: rgba(0,0,0, .5);
    color: #fdfdfd;
    padding: .6rem;
    text-align: center;
}
.destaques__principal{
    background: url('../img/fortnite.jpg') no-repeat center  / cover;
    grid-column: 1 / 4; /*Onde começa e termina grid-colomn*/
}
.destaques__secundario:nth-child(2){ /*nth-child(xx): identifica posição usando mesma classe */
    background: url('../img/pubg.jpg')no-repeat center / cover;
}
.destaques__secundario:nth-child(3){ /*nth-child(xx): identifica posição usando mesma classe */
    background: url('../img/slack.png') no-repeat center / cover;
}
.destaques__secundario:nth-child(4){ /*nth-child(xx): identifica posição usando mesma classe */
    background: url('../img/whatsapp.png') no-repeat center / cover;
}
.destaques__secundario:nth-child(5){/*nth-child(xx): identifica posição usando mesma classe */
    background: url('../img/cs-go.jpg') no-repeat center / cover;
}
.destaques__principal:hover{/*excluir esse  hover caso tenha problema com o rensposivo depois*/
    cursor: pointer;
    font-size: 1.1rem;
}
.destaques__secundario:hover{/*excluir esse  hover caso tenha problema com o rensposivo depois*/
    cursor: pointer;
    font-size: 1.1rem;
}
.destaques__categorias{
  
    grid-row: 3 / 3;
}
.destaques__categorias___lista{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}
.destaques__categorias___item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 4px solid transparent;
    background: #fdfdfd;
    color: #333333;
    padding: 1rem;
    width: 50%;
}
.destaques__categorias___item:hover{
    transition-delay: 0.1s;
    border: #0073e6 solid 1px;
    background: rgba(0, 115, 230, 0.3);
    color: black;
}
.destaques__categorias___link{
    color: inherit;/*tira a cor do link deixnado com a cor do elemento pai*/
}